.result_wrapper{
    padding: 0.5rem 1rem;
    // height: 2px;
    h2{
        color: #239b73;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 0.5rem;
    }
    table{
        margin-top: 1.5rem;
        border-spacing: 2px;
        border-collapse: separate;
        background: #ebf0f0;
        thead{
            tr{
                th{
                    background-color: #f5f5f5;
                    color: #7a7a7a;
                    padding: 1rem 0.5rem;
                    font-size: 1.6rem;
                    font-weight: bold;
                    text-transform: capitalize;
                }
            }
        }
        tbody{
            tr{
                td{
                    background-color: #e6e6e6;
                    padding: 1.5rem 0.5rem;
                    font-size: 1.4rem;
                    color: #7a7a7a;
                    a{
                        color: #7a7a7a;
                        font-size: 1.4rem;
                        text-decoration: none;
                    }
                }
            }
        }
    }   
    &::ng-deep{
        .page-item{
            margin: 0 2px;
            .page-link{
                background: #737373;
                color: white;
                padding: 5px 12px;
                border: 0;
                font-size: 1.4rem;
            }
            &.active{
                .page-link{
                    background: #239b73;
                    color: white;
                }
           
            }
        }
    }
}